@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&family=Roboto+Slab:wght@400;600&display=swap");
.producto h2, .acordeon .titulo-acordeon, .page-nosotros section h2 {
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  border: 2px black solid;
  margin: 15px;
  padding: 5px; }

/*---------- RESET ----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *::selection {
    background-color: black;
    color: white; }

body {
  font-family: 'Roboto Slab', serif; }

.boton {
  text-decoration: none;
  font-size: 18px;
  color: white;
  background-color: black;
  border: 2px white solid;
  padding: 10px;
  font-weight: 600; }
  .boton:hover {
    background-color: #ffc800;
    color: white; }
  .boton:active {
    background-color: #ffe27a;
    color: black; }

header {
  height: 100px;
  font-size: 25px;
  margin-bottom: 55px; }
  header nav div a img {
    width: 100px;
    height: 100%;
    margin-left: 15px;
    margin-right: 15px; }

.hero {
  color: white;
  width: 100%;
  height: calc(100vh - 148px);
  text-align: center;
  background-color: #797270;
  background-image: url(../img/velas-encendidas.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hero h2 {
    display: inline-block;
    font-size: 70px;
    border: 5px white solid;
    padding: 15px; }
  .hero p {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 25px; }

.sobre-nosotros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 25px;
  margin-bottom: 50px; }
  .sobre-nosotros div {
    width: 75%; }
    .sobre-nosotros div h2 {
      font-size: 40px;
      font-weight: bolder;
      margin: 10px;
      padding: 5px; }
    .sobre-nosotros div p {
      font-size: 20px;
      margin-left: 20px;
      margin-bottom: 50px; }

.background {
  height: 300px;
  background-image: url(../img/fondo-bosque.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 20px; }
  .background h2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.677);
    text-align: center;
    font-weight: bolder;
    padding: 25px; }

.producto .card-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  .producto .card-flex div {
    width: 250px;
    height: 350px;
    border: 2px black solid;
    background-color: white;
    text-align: center;
    margin: 50px;
    transition: 1s; }
    .producto .card-flex div:hover {
      transform: scale(1.1);
      box-shadow: 11px 10px 21px -1px rgba(0, 0, 0, 0.71);
      -webkit-box-shadow: 11px 10px 21px -1px rgba(0, 0, 0, 0.71);
      -moz-box-shadow: 11px 10px 21px -1px rgba(0, 0, 0, 0.71); }
    .producto .card-flex div h3 {
      margin-bottom: 50px;
      font-size: 20px;
      margin-top: 15px; }
    .producto .card-flex div img {
      width: 246px;
      height: 200px; }

.acordeon {
  margin-top: 5px;
  margin-bottom: 15px; }

.page-nosotros {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px; }
  .page-nosotros section img {
    width: 650px;
    height: 500px;
    border: black 2px solid; }

.grid-gallery {
  margin-top: 50px;
  margin-bottom: 25px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  gap: 10px; }
  .grid-gallery .grid-item {
    box-shadow: 11px 10px 21px -1px rgba(0, 0, 0, 0.71);
    -webkit-box-shadow: 11px 10px 21px -1px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 11px 10px 21px -1px rgba(0, 0, 0, 0.71);
    position: relative; }
    .grid-gallery .grid-item img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .grid-gallery .grid-item h3 {
      position: absolute;
      bottom: 0;
      color: white;
      background-color: rgba(0, 0, 0, 0.697);
      font-weight: bolder;
      font-size: 20px;
      padding: 10px;
      margin-bottom: 0px; }
  .grid-gallery .img-1 {
    grid-column: span 2; }
  .grid-gallery .img-4 {
    grid-row: span 2; }
  .grid-gallery .img-6 {
    grid-row: span 2; }
  .grid-gallery .img-7 {
    grid-row: span 2; }
  .grid-gallery .img-9 {
    grid-column: span 2; }

.main-productos {
  margin-top: 75px; }

.main-servicios {
  margin-top: 75px;
  margin-bottom: 25px; }

.main-contacto {
  margin: 130px; }
  .main-contacto .contact-page {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px; }
    .main-contacto .contact-page form div div h3 {
      font-size: 20px; }

footer {
  background-color: #93a8ac;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px; }
  footer div a img {
    margin: 20px;
    width: 75px;
    height: 75px; }
  footer .mensaje {
    text-align: center;
    margin-right: 50px; }

@media screen and (max-width: 1350px) {
  .page-nosotros {
    flex-direction: column; }
  .page-nosotros section img {
    margin-top: 30px; } }

@media screen and (max-width: 950px) {
  .grid-gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 220px; }
  .grid-gallery .grid-item {
    grid-column: span 1;
    grid-row: span 1; } }

@media screen and (max-width: 900px) {
  .sobre-nosotros div h2 {
    text-align: center; }
  .sobre-nosotros div a {
    display: none; }
  footer {
    flex-direction: column; }
  footer div a img {
    width: 60px;
    height: 60px; }
  footer .mensaje {
    margin: 0px; } }

@media screen and (max-width: 800px) {
  .hero h2 {
    font-size: 40px; }
  .hero p {
    font-size: 25px; } }

@media screen and (max-width: 700px) {
  .page-nosotros section img {
    display: none; } }

@media screen and (max-width: 450px) {
  .grid-gallery {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 370px) {
  .hero h2 {
    padding: 5px; } }
