footer{
    background-color: nth($paleta-colores, 6);
    color: nth($paleta-colores, 5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    div{
        a{
            img{
                margin: 20px;
                width: 75px;
                height: 75px;
            }
        }
    }
    .mensaje{
        text-align: center;
        margin-right: 50px;
    }
}