footer{
    background-color: nth($paleta-colores, 6);
    color: nth($paleta-colores, 5);
    @include flex (flex, row, space-between, center);
    padding: 20px;
    div{
        a{
            img{
                margin: 20px;
                width: 75px;
                height: 75px;
            }
        }
    }
    .mensaje{
        text-align: center;
        margin-right: 50px;
    }
}