@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&family=Roboto+Slab:wght@400;600&display=swap');


/*---------- RESET ----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &::selection{
        background-color:nth($paleta-colores, 2);
        color: nth($paleta-colores, 5);
    }
}

body{
    font-family: 'Roboto Slab', serif;
}

.boton{
    text-decoration: none;
    font-size: 18px;
    color: nth($paleta-colores, 5);
    background-color: nth($paleta-colores, 2);
    border: 2px nth($paleta-colores, 5) solid;
    padding: 10px;
    font-weight: 600;
    &:hover{
        background-color: nth($paleta-colores, 3);
        color: nth($paleta-colores, 5);
    }
    &:active{
        background-color: nth($paleta-colores, 4);
        color: nth($paleta-colores, 2);
    }
}